<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98086049416-n3db5g30to2504fucrsvir7cf2ina8ru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98086049416-n3db5g30to2504fucrsvir7cf2ina8ru</string>
	<key>API_KEY</key>
	<string>AIzaSyBGAaQysYcMYeiionThxGyzxoeiQ7DMpHM</string>
	<key>GCM_SENDER_ID</key>
	<string>98086049416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a.newHabits</string>
	<key>PROJECT_ID</key>
	<string>newhabits-5ee9d</string>
	<key>STORAGE_BUCKET</key>
	<string>newhabits-5ee9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98086049416:ios:588fe4c785071cb855313d</string>
</dict>
</plist>